[project]
	description = Rottenpottatoes repo for the SaaS class
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fragatina
[access "refs/for/refs/*"]
	read = group user/fragatina
	push = group user/fragatina
	label-Code-Review = -2..+2 group user/fragatina
	label-Verified = -1..+1 group user/fragatina
	rebase = group user/fragatina
	removeReviewer = group user/fragatina
	submit = group user/fragatina
[access "refs/heads/*"]
	read = group user/fragatina
	create = group user/fragatina
	push = +force group user/fragatina
	pushMerge = group user/fragatina
[access "refs/tags/*"]
	push = +force group user/fragatina
	pushTag = group user/fragatina
	pushSignedTag = group user/fragatina
